@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); /* Varela Round */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); /* Raleway */

        body {
            margin: 0;
            padding: 0;
            background-image: url('https://64.media.tumblr.com/d60fa89a6c6ef6b51790a079d7204540/f145147b69889cf3-a3/s640x960/1d7480b51aa3c7cfc46d85641dfd9f759eeadd95.gif');
            background-color: #005;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            color: #fff;
            font-family: 'Varela Round', 'Trebuchet MS', Arial;
            text-align: center;
            user-select: none;
            transition: 0.3s all ease;
        }
        
        #container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            text-align: center;
        }
        
        #settings {
             overflow: auto;
             position: absolute;
          	 left: 50%;
          	 top: 50%;
          	 transform: translate(-50%, -50%);
             background-color: #00011A;
             height: 70%;
             width: 70%;
             border-radius: 10px;
             border: 2px solid #00008b;
             outline: none;
         }
         
         .settings-i {
             margin-right: 5px;
             font-family: Varela Round, Arial, sans-serif;
             font-size: 15px;
          	 width: 50%;
             height: 40px;
          	 border-radius: 6px;
             border: 0;
             font-weight: bold;
             text-align: center;
             background-color: #1a2023;
             color: #fff;
             transition: 0.25s all ease;
             border: 2px solid #000;
         }    
     
         .settings-i:hover {
          border: 2px solid #005;
          cursor: pointer;
         }
 
         .settings-i:focus { 
            border: 2px solid #4196e1; 
            cursor: text;
            outline: none;
        }
         
        .header {
           border-bottom: 5px solid #00008B;
           padding-bottom: 20px;
         }
        
        #updlog {
         overflow: auto;
         position: absolute;
      	 left: 50%;
      	 top: 50%;
      	 transform: translate(-50%, -50%);
         background-color: #00011A;
         height: 70%;
         width: 50%;
         border-radius: 10px;
         }
        
        #searchbar{ 
            font-family: 'Raleway', Arial, sans-serif;
            font-size: 15px;
            font-weight: bold;
            padding: 16px;
            width: 50%;
            border-radius: 6px;
            border: 0;
            text-align: center;
            background-color: #003d80;
            color: #ffffff;
            transition: all 0.3s ease-in-out;
            border: 2px solid #121c7b;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            margin-top: 10px;
        }
        
        #searchbar:hover{
            background-color: #0056b3;
            color: #ffffff;
            border: 2px solid #4169E1;
            box-shadow: 0 0 15px rgba(65, 105, 225, 0.8);
        }

        #searchbar:focus{
            cursor: text;
            width: 55%;
            border: 2px solid #4196e1;
            box-shadow: 0 0 20px rgba(65, 105, 225, 1);
            background-color: #002b5a;
            color: #ffffff;
            outline: none;
        }

        #searchbar::placeholder {
            color: #ffffff;
            opacity: 1;
            font-weight: bold;
        }

        body:hover {
            cursor: default;
        }

        h1 {
            margin-top: 60px;
            font-size: 24px;
            font-weight: 700;
            background: linear-gradient(#007FFF, #324AB2, #224C98);
            border: 2px solid #4467C4;
            box-shadow: 0 0 0 2px #00316E, 0 0 0 4px #2234A8, 0 0 0 6px #00008C;
            border-radius: 10px;
            padding: 5px 10.125px;
            color:rgb(61, 136, 255);
            background : linear-gradient(#0080FE,rgb(22, 44, 205),rgb(19, 35, 211));
            font-family: Varela Round;
            text-shadow: 0 0 5px rgba(0, 0, 0, 1);
        }

        h4 {
            font-family: 'Varela Round';
            margin-left: 5px;
            margin-right: 5px;
        }

        h3 {
            font-family: 'Varela Round';
            margin-bottom: 0px;
        }
        
        h7 {
            font-family: 'Varela Round';
            font-size: 50px;
        }
        
        h2 {
          font-family: 'Varela Round';
        }
        
        .updh2 {
          font-family: 'Varela Round';
          font-size: 20px;
        }

        .sh2 {
            font-family: 'Varela Round';
            background: linear-gradient(#00FFFFFF,rgb(41, 177, 189),rgb(46, 91, 213));
            box-shadow: 0 0 0 2px #00316E, 0 0 0 4px #2234A8, 0 0 0 6px #00008C;
            border: 2px solid #4467C4;
            border-radius: 10px;
            text-shadow: 0 0 5px rgba(0, 0, 0, 1);
        }

        h1, h2, h3, h4, h5, h6 {
            transition: text-shadow 0.3s ease;
        }

        h6 {
            text-align: center;
            font-size: 20px;
            font-family: Varela Round, Arial;
            color: rgb(61, 136, 255);
        }
        
        h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
            text-shadow: 0 0 10px rgba(52, 152, 219, 0.8), 0 0 20px rgba(52, 152, 219, 0.6), 0 0 30px rgba(52, 152, 219, 0.4);
        }

        @keyframes glow {
        0% {
            text-shadow: 0 0 2px #f5f5f5;
        }
        50% {
            text-shadow: 0 0 5px #f5f5f5;
        }
        100% {
            text-shadow: 0 0 2px #f5f5f5;
        }
        }

        @-webkit-keyframes glow {
        0% {
            text-shadow: 0 0 2px #f5f5f5;
        }
        50% {
            text-shadow: 0 0 5px #f5f5f5;
        }
        100% {
            text-shadow: 0 0 2px #f5f5f5;
        }
        }

        #button-updlog {
            display: inline-block;
            margin-top: 10px;
            margin-left: 2px;
            margin-right: 2px;
            padding: 10px 20px;
            background-color: #00008B;
            color: #00FFFF;
            border: 2px solid #00ff;
            border-radius: 12px;
            font-weight: 700;
            font-family: Raleway;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
        }
        
        #button-s { 
            bottom: 0%; 
            right: 0%;
            width: 150px;
            height: 40px;
            position: absolute;
            z-index: 2; 
            display: inline-block;
            margin-top: 10px;
            margin-left: 2px;
            margin-right: 2px;
            padding: 10px 20px;
            background-color: #00008B;
            color: #00FFFF;
            border: 2px solid #00ff;
            border-radius: 12px;
            font-weight: 700;
            font-family: Raleway;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
        }
        
        #button-g { 
            bottom: 0%; 
            left: 0%;
            width: 150px;
            height: 40px;
            position: absolute;
            z-index: 2; 
            display: inline-block;
            margin-top: 10px;
            margin-left: 2px;
            margin-right: 2px;
            padding: 10px 20px;
            background-color: #00008B;
            color: #00FFFF;
            border: 2px solid #00ff;
            border-radius: 12px;
            font-weight: 700;
            font-family: Raleway;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
        }
        
        #button-g:hover {
            background-color: #4169E1;
            color: #00FFFF;
            box-shadow: 0 0 15px rgb(17, 27, 215),
                0 0 30px rgba(255, 255, 255, 0.8);
        }
        
        #button-g:active {
            background-color: #23278d;
            color: #549ea0;
            border: 2px solid #121c7b;
        }

        .button-req { 
            top: 0%; 
            left: 0%;
            width: 150px;
            height: 40px;
            position: absolute;
            z-index: 2; 
            display: inline-block;
            margin-top: 10px;
            margin-left: 2px;
            margin-right: 2px;
            padding: 10px 20px;
            background-color: #00008B;
            color: #00FFFF;
            border: 2px solid #00ff;
            border-radius: 12px;
            font-weight: 700;
            font-family: Raleway;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
        }
        
        .button-req:hover {
            background-color: #4169E1;
            color: #00FFFF;
            box-shadow: 0 0 15px rgb(17, 27, 215),
                0 0 30px rgba(255, 255, 255, 0.8);
        }
        
        .button-req:active {
            background-color: #23278d;
            color: #549ea0;
            border: 2px solid #121c7b;
        }
        
        .theme-button {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            background-color: #00008B;
            color: #00FFFF;
            border: 2px solid #00ff;
            border-radius: 12px;
            font-weight: 700;
            font-family: Raleway, sans-serif;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        }
        
        .theme-button:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4),
                0 0 15px rgb(17, 27, 215),
                0 0 30px rgba(255, 255, 255, 0.8);
            background-color: #4169E1;
            color: #00FFFF;
        }
        
        .theme-button:active {
            transform: translateY(3px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            background-color: #23278d;
            color: #549ea0;
            border: 2px solid #121c7b;
        }
        
        #button-sg { 
            top: 0%; 
            left: 0%;
            width: 150px;
            height: 40px;
            position: absolute;
            z-index: 2; 
            display: inline-block;
            margin-top: 10px;
            margin-left: 2px;
            margin-right: 2px;
            padding: 10px 20px;
            background-color: #00008B;
            color: #00FFFF;
            border: 2px solid #00ff;
            border-radius: 12px;
            font-weight: 700;
            font-family: Raleway;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
        }
        
        .button-c {
            position: absolute;
            top: 0%;
            right: 0%;
            padding: 5px 10px;
            font-size: 18px;
            font-weight: 552;
            font-family: Tahoma, sans-serif;
            background-color: #00008b;
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
         }
         
         .button-c:hover {
            background-color: #4196e1;
        }
        
        .button-c:active {
            background-color: #23278d;
        }
        
        .favicon {
             padding: 0px 0px;
             margin: 5px;
             border: none;
             cursor: pointer;
             display: inline-flex;
             align-items: center;
             background-color: #000; 
             border-radius: 10px;
             outline: none;
        }
    
        .favicon img {
            width: 30px;
            height: 30px;
            outline: none;
            background-color: #fff;
            padding: 7px 8px;
            border-radius: 10px;  
            transition: background-color 0.3s, transform 0.3s;
        }
    
        .favicon img:hover {
            background-color: #cccccc;
            transform: scale(1.05);
        }
        
        .favicon img:active {
            background-color: #999999;
            transform: scale(0.95);
        }
        
        .button-st {
              display: inline-block;
              margin-top: 10px;
              margin-left: 2px;
              margin-right: 2px;
              padding: 10px 20px;
              width: 24.7%;
              background-color: #00008B;
              color: #00FFFF;
              border: 2px solid #00ff;
              border-radius: 12px;
              font-weight: 700;
              font-family: Raleway;
              cursor: pointer;
              transition: all 0.3s ease;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
              position: relative;
        }
        
       .button-st:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4),
            0 0 15px rgb(17, 27, 215),
            0 0 30px rgba(255, 255, 255, 0.8); /* Glow effect */
            background-color: #4169E1;
            color: #00FFFF;
        }
        
        .button-st:active {
            transform: translateY(3px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            background-color: #23278d;
            color: #549ea0;
            border: 2px solid #121c7b;
        }
        
        .button-sc {
             display: inline-block;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px 20px;
    background-color: #00008B;
    color: #00FFFF;
    border: 2px solid #00ff;
    border-radius: 12px;
    font-weight: 700;
    font-family: Raleway;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
        }
        
        .button-sc:hover {
            transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4),
        0 0 15px rgb(17, 27, 215),
        0 0 30px rgba(255, 255, 255, 0.8); /* Glow effect */
    background-color: #4169E1;
    color: #00FFFF;
        }
        
        .button-sc:active {
            transform: translateY(3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #23278d;
    color: #549ea0;
    border: 2px solid #121c7b;
        }
        
        .button {
    display: inline-block;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px 20px;
    background-color: #00008B;
    color: #00FFFF;
    border: 2px solid #00ff;
    border-radius: 12px;
    font-weight: 700;
    font-family: Raleway;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4),
        0 0 15px rgb(17, 27, 215),
        0 0 30px rgba(255, 255, 255, 0.8); /* Glow effect */
    background-color: #4169E1;
    color: #00FFFF;
}

.button:active {
    transform: translateY(3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #23278d;
    color: #549ea0;
    border: 2px solid #121c7b;
}
        
        #button-updlog:hover {
            background-color: #4169E1;
            color: #00FFFF;
            box-shadow: 0 0 15px rgb(17, 27, 215),
                0 0 30px rgba(255, 255, 255, 0.8);
        }
        
        #button-updlog:active {
            background-color: #23278d;
            color: #549ea0;
            border: 2px solid #121c7b;
        }
        
        #button-sg:hover {
            background-color: #4169E1;
            color: #00FFFF;
            box-shadow: 0 0 15px rgb(17, 27, 215),
                0 0 30px rgba(255, 255, 255, 0.8);
        }
        
        #button-sg:active {
            background-color: #23278d;
            color: #549ea0;
            border: 2px solid #121c7b;
        }

        #button-s:hover {
            background-color: #4169E1;
            color: #00FFFF;
            box-shadow: 0 0 15px rgb(17, 27, 215),
                0 0 30px rgba(255, 255, 255, 0.8);
        }
        
        #button-s:active {
            background-color: #23278d;
            color: #549ea0;
            border: 2px solid #121c7b;
        }
        
.button {
    display: inline-block;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px 20px;
    background-color: #00008B;
    color: #00FFFF;
    border: 2px solid #00ff;
    border-radius: 12px;
    font-weight: 700;
    font-family: Raleway;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4),
        0 0 15px rgb(17, 27, 215),
        0 0 30px rgba(255, 255, 255, 0.8); /* Glow effect */
    background-color: #4169E1;
    color: #00FFFF;
}

.button:active {
    transform: translateY(3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #23278d;
    color: #549ea0;
    border: 2px solid #121c7b;
}

        #updlog {
         overflow: auto;
         position: absolute;
      	 left: 50%;
      	 top: 50%;
      	 transform: translate(-50%, -50%);
         background-color: #00011A;
         height: 70%;
         width: 50%;
         border-radius: 10px;
         border: 2px solid #00008B;
         }
        
        #randomPhrase {
            font-family: 'Varela Round';
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            font-weight: bold;
            background-color: #00316E;
            border: 2px solid #001C57;
            border-radius: 6.5px;
            padding: 5px 10.0125px;
            color:rgb(32, 91, 241);
            transition: all 0.3s ease, transform 0.3s;
            cursor: pointer;
            user-select: none;
        }

        #randomPhrase:hover {
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
            background-color: #4169E1;
            color: #00FFFF;
            box-shadow: 0 0 15px rgb(17, 27, 215),
                0 0 30px rgba(255, 255, 255, 0.8);

        }
        
        #randomPhrase:active{
            background-color: #23278d;
        }
        
        .hidden {
            display: none;
        }

        #blocksMessage {
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            margin-top: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        #blocksMessage:Hover {
            text-shadow: 0 0 5px #000;
            -webkit-animation: glow 1s;
            animation: glow 1s;
        }

        #movingText {
            position: absolute;
            top: 90px;
            /* Adjust according to your layout */
            left: -100%;
            /* Start off the screen on the left */
            font-size: 18px;
            /* Match the font size with the blocks message */
            font-weight: bold;
            /* Make it bold */
            color: #fff;
            /* White color */
            text-transform: uppercase;
            /* Uppercase text for consistency */
            animation: moveAcross 10s linear infinite;
            /* Animation settings */
        }

        @keyframes moveAcross { /* Animate moving text from left to right */
            0% {
                left: -100%;
                /* Starting position off the left */
            }

            100% {
                left: 100%;
                /* Ending position off the right */
            }
        }
        .panic-status {
            display: inline-block;
            font-style: italic;
            margin-left: 10px;
            color: #00ff00;
        }
        .key-display {
            display: inline-block;
            padding: 5px 10px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            margin: 0 5px;
        }
        
        .toggle-label {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Varela Round, Arial, sans-serif;
          font-size: 15px;
          margin-top: 10px;
          cursor: pointer;
        }

        .toggle-input {
            display: none;
        }
        
        .toggle-slider {
            width: 40px;
            height: 20px;
            background-color: #ccc;
            border-radius: 15px;
            position: relative;
            margin-right: 10px;
            transition: background-color 0.2s ease;
        }
        
        .toggle-slider::before {
            content: '';
            width: 18px;
            height: 18px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            top: 1px;
            left: 1px;
            transition: transform 0.2s ease;
        }
        
        .toggle-input:checked + .toggle-slider {
            background-color: #4196e1;
        }
        
        .toggle-input:checked + .toggle-slider::before {
            transform: translateX(20px);
        }
